<div class="container-fluid">
  <section class="section row feature-box">
    <h1 class="section-heading h1 pt-4 col">Cards</h1>
    <!--Section description-->
    <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <div class="col-xl-3 col-lg-4 col-md-12">

      <!--Card-->
      <div class="card card-cascade">
    
          <!--Card image-->
          <div class="view gradient-card-header purple-gradient">
              <h2 class="h2-responsive">Mattonit</h2>
              <p>The Boar</p>
              <div class="text-center">
                  <!--Facebook-->
                  <a type="button" class="btn-floating btn-small waves-light" mdbRippleRadius><i class="fa fa-facebook"></i></a>
                  <!--Twitter-->
                  <a type="button" class="btn-floating btn-small waves-light" mdbRippleRadius><i class="fa fa-twitter"></i></a>
                  <!--Google +-->
                  <a type="button" class="btn-floating btn-small waves-light" mdbRippleRadius><i class="fa fa-google-plus"></i></a>
              </div>
          </div>
          <!--/Card image-->
    
          <!--Card content-->
          <div class="card-body text-center">
    
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi
                  sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium
                  veritatis sequi.Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                  laboriosam, nisi ut aliquid ex ea commodi.</p>
    
          </div>
          <!--/.Card content-->
    
      </div>
      <!--/.Card-->
    
    </div>
    <!--Grid column-->

    <div class="col-xl-3 col-lg-4 col-md-12">

        <!--Card-->
        <div class="card card-cascade">
      
            <!--Card image-->
            <div class="view gradient-card-header purple-gradient">
                <h2 class="h2-responsive">Mattonit</h2>
                <p>The Boar</p>
                <div class="text-center">
                    <!--Facebook-->
                    <a type="button" class="btn-floating btn-small waves-light" mdbRippleRadius><i class="fa fa-facebook"></i></a>
                    <!--Twitter-->
                    <a type="button" class="btn-floating btn-small waves-light" mdbRippleRadius><i class="fa fa-twitter"></i></a>
                    <!--Google +-->
                    <a type="button" class="btn-floating btn-small waves-light" mdbRippleRadius><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
            <!--/Card image-->
      
            <!--Card content-->
            <div class="card-body text-center">
      
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi
                    sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium
                    veritatis sequi.Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                    laboriosam, nisi ut aliquid ex ea commodi.</p>
      
            </div>
            <!--/.Card content-->
      
        </div>
        <!--/.Card-->
      
      </div>
      <!--Grid column-->

      <div class="col-xl-3 col-lg-4 col-md-12">

          <!--Card-->
          <div class="card card-cascade">
        
              <!--Card image-->
              <div class="view gradient-card-header purple-gradient">
                  <h2 class="h2-responsive">Mattonit</h2>
                  <p>The Boar</p>
                  <div class="text-center">
                      <!--Facebook-->
                      <a type="button" class="btn-floating btn-small waves-light" mdbRippleRadius><i class="fa fa-facebook"></i></a>
                      <!--Twitter-->
                      <a type="button" class="btn-floating btn-small waves-light" mdbRippleRadius><i class="fa fa-twitter"></i></a>
                      <!--Google +-->
                      <a type="button" class="btn-floating btn-small waves-light" mdbRippleRadius><i class="fa fa-google-plus"></i></a>
                  </div>
              </div>
              <!--/Card image-->
        
              <!--Card content-->
              <div class="card-body text-center">
        
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi
                      sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium
                      veritatis sequi.Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                      laboriosam, nisi ut aliquid ex ea commodi.</p>
        
              </div>
              <!--/.Card content-->
        
          </div>
          <!--/.Card-->
        
        </div>
        <!--Grid column-->
    
    <!--Grid column-->
    <div class="col-xl-3 col-lg-4 col-md-12">
    
      <!--Card-->
      <div class="card card-cascade">
    
          <!--Card image-->
          <div class="view gradient-card-header peach-gradient">
              <h2 class="h2-responsive mb-2">Title of the news</h2>
              <p class=""><i class="fa fa-calendar"></i> 26.07.2017</p>
    
          </div>
          <!--/Card image-->
    
          <!--Card content-->
          <div class="card-body text-center">
    
              <p class="card-text mr-2 ml-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi
                  sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium
                  veritatis sequi.Ut enim ad minima veniam, quis nostrum.</p>
    
              <a href="#" class="orange-text mt-1 d-flex flex-row-reverse">
                  <h5 class="waves-effect p-2" mdbRippleRadius>Read more <i class="fa fa-chevron-right"></i></h5>
              </a>
          </div>
          <!--/.Card content-->
    
      </div>
      <!--/.Card-->
    
    </div>
    <!--Grid column-->
    
    <!--Grid column-->
    <div class="col-xl-3 col-lg-4 col-md-12">
    
      <!--Card-->
      <div class="card card-cascade">
    
          <!--Card image-->
          <div class="view gradient-card-header blue-gradient">
              <h2 class="h2-responsive">Marta</h2>
              <p>Deserve for her own card</p>
          </div>
          <!--/Card image-->
    
          <!--Card content-->
          <div class="card-body text-center">
    
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi
                  sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium
                  veritatis sequi.Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                  laboriosam.
              </p>
              <hr>
              <!--Twitter-->
              <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
              <!--Linkedin-->
              <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
              <!--Facebook-->
              <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
              <!--Email-->
              <a class="icons-sm email-ic"><i class="fa fa-envelope"> </i></a>
          </div>
          <!--/.Card content-->
    
      </div>
      <!--/.Card-->
    
    </div>
    <div class="col-xl-3 col-lg-4 col-md-12">

      <!--Card-->
      <div class="card card-cascade">
    
          <!--Card image-->
          <div class="view gradient-card-header purple-gradient">
              <h2 class="h2-responsive">Mattonit</h2>
              <p>The Boar</p>
              <div class="text-center">
                  <!--Facebook-->
                  <a type="button" class="btn-floating btn-small waves-light" mdbRippleRadius><i class="fa fa-facebook"></i></a>
                  <!--Twitter-->
                  <a type="button" class="btn-floating btn-small waves-light" mdbRippleRadius><i class="fa fa-twitter"></i></a>
                  <!--Google +-->
                  <a type="button" class="btn-floating btn-small waves-light" mdbRippleRadius><i class="fa fa-google-plus"></i></a>
              </div>
          </div>
          <!--/Card image-->
    
          <!--Card content-->
          <div class="card-body text-center">
    
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi
                  sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium
                  veritatis sequi.Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                  laboriosam, nisi ut aliquid ex ea commodi.</p>
    
          </div>
          <!--/.Card content-->
    
      </div>
      <!--/.Card-->
    
    </div>
    <!--Grid column-->
    
    <!--Grid column-->
    <div class="col-xl-3 col-lg-4 col-md-12">
    
      <!--Card-->
      <div class="card card-cascade">
    
          <!--Card image-->
          <div class="view gradient-card-header peach-gradient">
              <h2 class="h2-responsive mb-2">Title of the news</h2>
              <p class=""><i class="fa fa-calendar"></i> 26.07.2017</p>
    
          </div>
          <!--/Card image-->
    
          <!--Card content-->
          <div class="card-body text-center">
    
              <p class="card-text mr-2 ml-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi
                  sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium
                  veritatis sequi.Ut enim ad minima veniam, quis nostrum.</p>
    
              <a href="#" class="orange-text mt-1 d-flex flex-row-reverse">
                  <h5 class="waves-effect p-2" mdbRippleRadius>Read more <i class="fa fa-chevron-right"></i></h5>
              </a>
          </div>
          <!--/.Card content-->
    
      </div>
      <!--/.Card-->
    
    </div>
    <!--Grid column-->
    
    <!--Grid column-->
    <div class="col-xl-3 col-lg-4 col-md-12">
    
      <!--Card-->
      <div class="card card-cascade">
    
          <!--Card image-->
          <div class="view gradient-card-header blue-gradient">
              <h2 class="h2-responsive">Marta</h2>
              <p>Deserve for her own card</p>
          </div>
          <!--/Card image-->
    
          <!--Card content-->
          <div class="card-body text-center">
    
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi
                  sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium
                  veritatis sequi.Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                  laboriosam.
              </p>
              <hr>
              <!--Twitter-->
              <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
              <!--Linkedin-->
              <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
              <!--Facebook-->
              <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
              <!--Email-->
              <a class="icons-sm email-ic"><i class="fa fa-envelope"> </i></a>
          </div>
          <!--/.Card content-->
    
      </div>
      <!--/.Card-->
    
    </div>
    <!--Grid column-->
  </section>
</div>
<div class="view intro hm-pink-slight" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/food2.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img">        
  </div>
</div>
<div class="container-fluid">
<!--Section: Features v.1-->
<section class="section feature-box">

  <!--Section heading-->
  <h1 class="section-heading h1 pt-4">Why is it so great?</h1>
  <!--Section description-->
  <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

  <!--Grid row-->
  <div class="row features-big">

      <!--Grid column-->
      <div class="col-md-4 mb-r">
          <i class="fa fa-area-chart red-text"></i>
          <h5 class="feature-title">Analytics</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-r">
          <i class="fa fa-book cyan-text"></i>
          <h5 class="feature-title">Tutorials</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-r">
          <i class="fa fa-coffee orange-text"></i>
          <h5 class="feature-title">Relax</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-r">
        <i class="fa fa-area-chart red-text"></i>
        <h5 class="feature-title">Analytics</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-r">
        <i class="fa fa-book cyan-text"></i>
        <h5 class="feature-title">Tutorials</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-r">
        <i class="fa fa-coffee orange-text"></i>
        <h5 class="feature-title">Relax</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
</div>
<div class="view intro hm-pink-slight" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/food2.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img">        
  </div>
</div>
<!--Section: Features v.1-->
<div class="container-fluid">
<!--Section: Contact v.1-->
<section class="section pb-5">

  <!--Section heading-->
  <h1 class="section-heading h1 pt-4">Contact us</h1>
  <!--Section description-->
  <p class="section-description pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

  <div class="row">

      <!--Grid column-->
      <div class="col-lg-5 mb-4">

          <!--Form with header-->
          <div class="card">

              <div class="card-body">
                  <!--Header-->
                  <div class="form-header blue accent-1">
                      <h3><i class="fa fa-envelope"></i> Write to us:</h3>
                  </div>

                  <p>We'll write rarely, but only the best content.</p>
                  <br>

                  <!--Body-->
                  <div class="md-form">
                      <i class="fa fa-user prefix grey-text"></i>
                      <input mdbActive type="text" id="form3" class="form-control">
                      <label for="form3">Your name</label>
                  </div>

                  <div class="md-form">
                      <i class="fa fa-envelope prefix grey-text"></i>
                      <input mdbActive type="text" id="form2" class="form-control">
                      <label for="form2">Your email</label>
                  </div>

                  <div class="md-form">
                      <i class="fa fa-tag prefix grey-text"></i>
                      <input mdbActive type="text" id="form32" class="form-control">
                      <label for="form34">Subject</label>
                  </div>

                  <div class="md-form">
                      <i class="fa fa-pencil prefix grey-text"></i>
                      <textarea mdbActive type="text" id="form8" class="md-textarea"></textarea>
                      <label for="form8">Icon Prefix</label>
                  </div>

                  <div class="text-center">
                      <button class="btn btn-light-blue waves-light" mdbRippleRadius>Submit</button>
                  </div>

              </div>

          </div>
          <!--Form with header-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7">

          <!--Google map-->
          <agm-map class="z-depth-1-half map-container" style="height: 400px;" [latitude]="map.lat" [longitude]="map.lng">
              <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
          </agm-map>

          <br>
          <!--Buttons-->
          <div class="row text-center">
              <div class="col-md-4">
                  <a class="btn-floating blue accent-1 waves-light" mdbRippleRadius><i class="fa fa-map-marker"></i></a>
                  <p>San Francisco, CA 94126</p>
                  <p>United States</p>
              </div>

              <div class="col-md-4">
                  <a class="btn-floating blue accent-1 waves-light" mdbRippleRadius><i class="fa fa-phone"></i></a>
                  <p>+ 01 234 567 89</p>
                  <p>Mon - Fri, 8:00-22:00</p>
              </div>

              <div class="col-md-4">
                  <a class="btn-floating blue accent-1 waves-light" mdbRippleRadius><i class="fa fa-envelope"></i></a>
                  <p>info@gmail.com</p>
                  <p>sale@gmail.com</p>
              </div>
          </div>

      </div>
     <!--Grid column-->

  </div>

</section>
<!--Section: Contact v.1-->
</div>